.gamesbu{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vmax;
    height: 100vh;
    background-image: url("/assets/background.jpg");
background-repeat: no-repeat;
background-size:cover;
}
.but-ga{
    width: 150px;
    height: 50px;
    // border-radius: 45%;
    background-color:white;
    color:chocolate;
    font-size: 20px;
}