<body>
  

<nav class="navbar navbar-light  nav1">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img class="imgs1"  src="../assets/cancerlogo.jpg" alt="" width="100" height="100">
      </a>
 </div>
  </nav>

<div class="container maketing">
<div class="row cre1">
    <div class="col-lg-4">
        <img  class="profile" src="../assets/viswa.jpeg" alt="" >
      <!-- <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg> -->

      <h2>Vishva Anandh S.A</h2>
      <p>4th year EIE <br>Electronics And Instrumentation Engineering <br>Easwari Engineering College  </p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
        <img  class="profile" src="../assets/harish.jpg" alt="" >

      <h2>Harish R</h2>
      <p>4th year EIE <br>Electronics And Instrumentation Engineering <br>Easwari Engineering College </p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
        <img  class="profile" src="../assets/navamanifinal.jpg" alt="" >
      <h2>Navamani S</h2>
      <p>4th year EIE <br>Electronics And Instrumentation Engineering <br>Easwari Engineering College </p>
    </div><!-- /.col-lg-4 -->
    </div>
    <div class="row cre1">
        <div class="col-lg-4">
            <img  class="profile" src="../assets/sriman.jpg" alt="" >
    
          <h2>Sreeram Menon K</h2>
          <p>4th year EIE <br>Electronics And Instrumentation Engineering <br>Easwari Engineering College  </p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img  class="profile" src="../assets/navamani.jpg" alt="" >
    
          <h2>Niraimathi R</h2>
          <p>4th year EIE <br>Electronics And Instrumentation Engineering <br>Easwari Engineering College </p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img  class="profile" src="../assets/.jpg" alt="" >
    
          <h2>Junya Gladstone</h2>
          <p>4th year EIE <br>Electronics And Instrumentation Engineering <br>Easwari Engineering College </p>
        </div><!-- /.col-lg-4 -->
     </div>
</div>
  <div class="credit-a">
    <h2>links that are Refreded</h2>
    <p class="credi-par">-bitterstoat 5 September 2023, <br> <span class="title1">All This Words Are Your</span>, <br> accessed on 27/9/24,<br> < https://github.com/bitterstoat/orrery >
    </p>
    <p class="credi-par">-Make Senze 16 August 2020, <br> <span class="title1">Space-Shooter-Game-Using-Javascript</span>,<br>  accessed on 30/9/24,<br>< https://github.com/learnmux/Space-Shooter-Game-Using-Javascript >
    </p>
    <p class="credi-par">-space.com 20 July 1999,<br> <span class="title1">The Universe</span>,accessed on 27/9/24,<br>< https://www.space.com/ >
    </p>
    <p class="credi-par">-Nasa 9 September 2024,<br>  <span class="title1">Planet Facts</span>,<br> accessed on 26/9/24,<br>< https://www.nasa.gov/ >
    </p>
  </div>

</body>
