
.profile{
    border-radius: 60%;
    width: 200px;
    height: 200px;
}
.imgs1{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.credit-a{
    padding: 100px;
    font-family: sans-serif;
    

}

.title1{
    font-style: italic;
}
.credi-par{
    font-size: 20px;
    font-style: bold;
}