.main1{
    background-image: url("/assets/back123.jpg");
    font-family: sans-serif;
    
}
.header1{
    color: gold;
}
.para1{
    color: goldenrod;
}
// .img1{
//     width: 2000px;
// }
.nav1{
    height: 100px;
}
.imgs1{
    border-radius: 50%;
   
}
.gameicon{
    color:whitesmoke;
    font-size: 30px;
    font-family: sans-serif;
    
}